/* ===================================
    About
====================================== */

/*
    Theme Name: MegaOne
    Theme URI:
    Author: Themes Industry
    Author URI:
    Description: One Page Parallax Template
    Tags: one page, multipurpose, parallax, creative, html5

 */

/* ===================================
    Table of Content
====================================== */


/*  - Fonts
    - General
    - Fonts
    - Social Icon Hover
    - Header And Navigation
    - Slider
    - About
    - Team
    - Portfolio
    - Price
    - Parallax
    - Testimonial
    - Client
    - Blog
    - Contact
    - Map
    - Footer
    - Loader
    - Media Queries   */


/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,500,700&display=swap');

.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Poppins', sans-serif;}

/* ===================================
    Scrollbar
====================================== */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    width: 12px;
    background:white;
    border-left: 0px solid white;
    border-right: 0px solid white;
}
::-webkit-scrollbar-thumb {
    background: #F77790;
    width: 0;
    height: 25%;
}
/* ===================================
    General
====================================== */

body {font-family: 'Roboto', sans-serif; font-size: 16px;color: #2b2b2b;font-weight:300;line-height:25px;width: 100%; overflow-x: hidden}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.2; font-weight: 500; font-family: 'Poppins', sans-serif;}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
section,.section-padding {position: relative;overflow: hidden;}
.section-top-margin{margin-top: 7.5rem;}
a {color:inherit;text-decoration: none;}
.rev_slider_wrapper{width: 100% !important;}
.btn.focus, .btn:focus{-webkit-box-shadow: none;box-shadow: none;}
p:last-child{margin-bottom: 0 !important;}
.fa, .far, .fas{display: inline;}
a:active, a:hover{color: #F77790;}
blockquote {border-left: 2px solid;padding: 10px 15px 10px 35px;margin: 25px 0;font-size: 18px;line-height: 28px;margin-top: 32px;margin-bottom: 32px;}
blockquote > cite {font-weight: 400;font-size: 14px;display: block;}
.hidden{display: none;}
section{padding-top: 50px;}

.contactanos-title{
 margin-bottom: 30px!important;
}

.main{
    background-color: rgb(138,181,191,0.5);
}
/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* opacity */
.opacity-full{opacity: 1;}
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/*font-weight*/
.font-weight-100{font-weight: 100;}
.font-weight-300{font-weight: 300;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}

/* button */
.btn {-webkit-appearance: initial; overflow: hidden;position: -webkit-sticky;position: sticky; z-index: 2; display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Poppins', sans-serif; font-weight: 500; -webkit-transition: all .5s ease;-o-transition: all .5s ease !important;transition: all .5s ease !important;}
/* button size */
.btn.btn-small {font-size:12px; padding: 4px 1.8em;}
.btn.btn-medium {font-size:12px; padding: 6px 1.8em;}
.btn.btn-large {font-size:14px; padding: 9px 34px; line-height: 1.8em;}
.btn.btn-rounded {border-radius: 50px;}


.yellow-and-white-slider-btn{font-size: 14px;font-family: Roboto, sans-serif;letter-spacing:3px;padding: 10px 25px;color:#ffffff;font-weight: 500;background-color:#F77790;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.yellow-and-white-slider-btn:hover{ color:#ffffff !important;background-color:#000000 !important; }

.black-and-white-slider-btn{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;color:#ffffff;font-weight: 600;background-color:#000000;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.black-and-white-slider-btn:hover{color: #000000 !important; ;background-color:#ffffff !important; }

.white-and-black-slider-btn{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;color:#000000;font-weight: 600;background-color:#ffffff;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.white-and-black-slider-btn:hover{color: #ffffff !important; ;background-color:#000000 !important; }

/* background color */
.bg-black{background: #000000;}
.bg-yellow {background-color: #F77790;}

/* text-color */
.main-color{color: #F77790;;}

/*Max Width*/
.mx-570{
    max-width: 570px;
    display: inline-block;
}
.parallax-disable{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

/* ===================================
   Social Icon Bg
====================================== */

.social-icon-bg a i.fa-facebook-f {background-color: #3B5998;}
.social-icon-bg a i.fa-twitter {background-color: #a07bf7;}
.social-icon-bg a i.fa-google-plus {background-color: #DD4B39;}
.social-icon-bg a i.fa-linkedin-in {background-color: #0976B4;}
.social-icon-bg a i.fa-instagram {background-color: #c13584;}
.social-icon-bg a i.fa-youtube {background-color: #dd4b39;}
.social-icon-bg a i.fa-pinterest-p {background-color: #B7242A;}
.social-icon-bg a i.fa-instagram {background-color: #e8715c;}
.social-icon-bg a i.fa-vimeo {background-color: #1ab7ea;}
.social-icon-bg a i.fa-vk {background-color: #4c75a3;}
.social-icon-bg a i.fa-youtube {background-color: #cd201f;}
.social-icon-bg a i.fa-pinterest {background-color: #bd081c;}
.social-icon-bg a i.fa-tumblr {background-color: #34465d;}
.social-icon-bg a i.fa-behance {background-color: #131418;}
.social-icon-bg a i.fa-dribbble {background-color: #ea4c89;}
.social-icon-bg a i.fa-google-plus {background-color: #dd4b39;}
.social-icon-bg a i.fa-xing {background-color: #026466;}
.social-icon-bg a i.fa-yelp {background-color: #af0606;}
.social-icon-bg a i.fa-vine {background-color: #00b489;}

/* ===================================
   Social Icon Bg Hover
====================================== */

.social-icon-bg-hvr a:hover i.fa-facebook-f {background-color: #3B5998;}
.social-icon-bg-hvr a:hover i.fa-twitter {background-color: #a07bf7;}
.social-icon-bg-hvr a:hover i.fa-google-plus {background-color: #DD4B39;}
.social-icon-bg-hvr a:hover i.fa-linkedin-in {background-color: #0976B4;}
.social-icon-bg-hvr a:hover i.fa-instagram {background-color: #c13584;}
.social-icon-bg-hvr a:hover i.fa-youtube {background-color: #dd4b39;}
.social-icon-bg-hvr a:hover i.fa-pinterest-p {background-color: #B7242A;}
.social-icon-bg-hvr a:hover i.fa-instagram {background-color: #e8715c;}
.social-icon-bg-hvr a:hover i.fa-vimeo {background-color: #1ab7ea;}
.social-icon-bg-hvr a:hover i.fa-vk {background-color: #4c75a3;}
.social-icon-bg-hvr a:hover i.fa-youtube {background-color: #cd201f;}
.social-icon-bg-hvr a:hover i.fa-pinterest {background-color: #bd081c;}
.social-icon-bg-hvr a:hover i.fa-tumblr {background-color: #34465d;}
.social-icon-bg-hvr a:hover i.fa-behance {background-color: #131418;}
.social-icon-bg-hvr a:hover i.fa-dribbble {background-color: #ea4c89;}
.social-icon-bg-hvr a:hover i.fa-google-plus {background-color: #dd4b39;}
.social-icon-bg-hvr a:hover i.fa-xing {background-color: #026466;}
.social-icon-bg-hvr a:hover i.fa-yelp {background-color: #af0606;}
.social-icon-bg-hvr a:hover i.fa-vine {background-color: #00b489;}

/* ===================================
   Social Icon Color
====================================== */

.social-icon-clr a i.fa-facebook-f {color: #3B5998;}
.social-icon-clr a i.fa-twitter {color: #0976B4;}
.social-icon-clr a i.fa-google-plus {color: #DD4B39;}
.social-icon-clr a i.fa-linkedin-in {color: #0976B4;}
.social-icon-clr a i.fa-instagram {color: #c13584;}
.social-icon-clr a i.fa-youtube {color: #dd4b39;}
.social-icon-clr a i.fa-pinterest-p {color: #B7242A;}
.social-icon-clr a i.fa-instagram {color: #e8715c;}
.social-icon-clr a i.fa-vimeo {color: #1ab7ea;}
.social-icon-clr a i.fa-vk {color: #4c75a3;}
.social-icon-clr a i.fa-youtube {color: #cd201f;}
.social-icon-clr a i.fa-pinterest {color: #bd081c;}
.social-icon-clr a i.fa-tumblr {color: #34465d;}
.social-icon-clr a i.fa-behance {color: #131418;}
.social-icon-clr a i.fa-dribbble {color: #ea4c89;}
.social-icon-clr a i.fa-google-plus {color: #dd4b39;}
.social-icon-clr a i.fa-xing {color: #026466;}
.social-icon-clr a i.fa-yelp {color: #af0606;}
.social-icon-clr a i.fa-vine {color: #00b489;}

/* ===================================
   Social Icon Hover
====================================== */

.social-icon-clr-hvr a i:hover.fa-facebook-f {color: #3B5998;}
.social-icon-clr-hvr a i:hover.fa-twitter {color: #0976B4;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #DD4B39;}
.social-icon-clr-hvr a i:hover.fa-linkedin-in {color: #0976B4;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #c13584;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-pinterest-p {color: #B7242A;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #e8715c;}
.social-icon-clr-hvr a i:hover.fa-vimeo {color: #1ab7ea;}
.social-icon-clr-hvr a i:hover.fa-vk {color: #4c75a3;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #cd201f;}
.social-icon-clr-hvr a i:hover.fa-pinterest {color: #bd081c;}
.social-icon-clr-hvr a i:hover.fa-tumblr {color: #34465d;}
.social-icon-clr-hvr a i:hover.fa-behance {color: #131418;}
.social-icon-clr-hvr a i:hover.fa-dribbble {color: #ea4c89;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-xing {color: #026466;}
.social-icon-clr-hvr a i:hover.fa-yelp {color: #af0606;}
.social-icon-clr-hvr a i:hover.fa-vine {color: #00b489;}

/* ===================================
        Header
   ====================================== */

/* nav top default */

header a.logo {
    display: inline-block;
    padding-top: .4rem;
}
header a.logo img {
    max-width: 110px;
    vertical-align: sub;
}

.navbar-top-default{
    position: absolute;
    top: 0;
    z-index: 99;
    overflow: hidden;
    height: 90px;
    width: 100%;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    background-color: transparent;
    border-bottom: solid 1px rgba(255, 255, 255, 0.30);
}


.header-appear .navbar-top-default{
    height: 70px;
    position: fixed;
    z-index: 99;
    background: #ffffff;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.header-appear .navbar-top-default{
    background: #45d79e;
    border-bottom: none;

}

.navbar-top-default #megaone{
    margin-right: -30px;
}

/*Navbar Simple*/

.navbar-simple .navbar-nav .nav-link {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 0.4rem 1.5rem;
}

.nav-box-round .navbar-nav .nav-link{
    border-radius: 20px;
}

.header-appear .nav-box-round .navbar-nav .nav-link.active{
    background-color: #a07bf7;
    color: #ffffff !important;
}

.header-appear .nav-box-round .navbar-nav .nav-link:hover{
    color: #a07bf7;
}

/*nav line*/

.nav-line .navbar-nav .nav-link.active:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
}

.nav-line .navbar-nav .nav-link:before {
    position: relative;
    content: '';
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: table;
    height: 3px;
    border-radius: 2px;
    bottom: -28px;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    background: #F77790;
    visibility: hidden;
    opacity: 0;
}

/* ===================================
    Side Menu
====================================== */


.side-menu {
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    background: #F77790;
    z-index: 1032;
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transition:transform .5s ease;
    overflow: hidden;
}
.side-menu.left {
    left: 0; right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.side-menu.before-side {
    width: 280px;
}
.side-menu.side-menu-active,
.side-menu.before-side{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pul-menu .side-menu.side-menu-active {
    visibility: visible; opacity: 1;
}
.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}

/*Side overlay*/
#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}

/*side clode btn*/
.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
}
.side-menu.before-side .btn-close{
    display: none;
}
.side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px;
}
.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*side open btn*/

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    margin-right: 1rem;
    margin-top: .4rem;
    position: absolute;
    right: 15px;
    display: inline-block;
}
.sidemenu_btn span {
    height: 2px;
    width: 100%;
    background: #ffffff;
    display: block;
}

.sidemenu_btn span:nth-child(2) {
    margin: 4px 0;
}

.side-menu .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pul-menu.pushwrap .side-menu .inner-wrapper{
    padding: 3.5rem 2.5rem;
}
.side-menu .side-nav {
    margin-bottom: 30px;
    display: block;
}
.side-nav .navbar-nav .nav-item{
    display: block;
    margin: 10px 0; padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;

    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}
.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.side-nav .navbar-nav .nav-item:nth-child(2){
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #fff;
    padding: 2px 0 3px 0 !important;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    border-radius: 0;
}
.side-nav .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::after,
.side-nav .navbar-nav .nav-link:focus::after,
.side-nav .navbar-nav .nav-link.active::after {
    width: 100%;
}
.side-nav .navbar-nav .nav-link.active {
    background: transparent;
}
.side-menu p{
    margin-top: .5rem;
    margin-bottom: 0;
}

.social-icons-simple{
    margin-bottom: 0;
    margin-left: -10px;
}

.social-icons-simple li{
    display: inline-block;
}

.social-icons-simple li a {
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    border: 1px solid transparent;
    text-align: center;
    width: 36px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.social-icons-simple li a:hover{
    background-color:#FFFFFF;
}

.social-icons-simple li.animated-wrap a:hover{
    background-color: transparent;
    color: #ffffff;
}
@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* ===================================
      Custom css
  ==================================== */
.heading-details{
    margin-bottom: 80px;
}
.heading-details .heading{
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
    display: inline-block;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    /*-webkit-text-fill-color: transparent;*/
}
.heading-details .heading:after{
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: #F77790;
    margin-bottom: 16px;
    margin-left: 20px;
}
.heading-details .heading:before{
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: #F77790;
    margin-bottom: 16px;
    margin-right: 20px;
}
.heading-details .top-des{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* ===================================
        Slider
   ====================================== */
.rev-slider .slider-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.40);
}

/* ===================================
      About Us
  ==================================== */


.heading-area .title{
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
}

.heading-area .sub-title{
    margin-bottom: 15px;
    font-weight: 400;
    color: #F77790;
}

.about-list{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    list-style: none;
}


.about-list li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.about-list li .a-icon{
    font-size: 25px;
    margin-right: 15px;
    color:#F77790;
}

/* ===================================
        production section
====================================== */
.production-sec{}
.production-sec .production-box{
    padding: 15px;
}

.production-sec .production-box i{
    font-size: 60px;
    margin-bottom: 8px;
    transition: .5s ease;
}
.production-sec .production-box:hover i{
    transform: translateY(-15px);
}
.production-sec .production-box .production-heading{
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    margin-bottom: 12px;
    transition: .5s ease;
}
.production-sec .production-box:hover .production-heading{
color: #F77790;
}
.production-sec .production-box .production-des{
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* ===================================
            Video sec css
====================================== */
.video-sec{
padding-top: 0;
    margin-top: 120px;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.video-sec .video-btn{
    display: inline-block;
}

.video-sec .video-btn .play-btn {
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    font-size: 65px;
    border-radius: 50%;
    color: #F77790;
    cursor: pointer;
}
.video-sec .video-btn .play-btn:hover{
    background-color: #F77790;
    color: #fff !important;
}

.video-sec.bg-video-img{
    background-image: url("../img/video-img.jpg");
    position: relative;
    height:550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

.fancybox-slide--video .fancybox-content {
    background: transparent;
}

/* ===================================
   list item
====================================== */
.latest-items{
    padding-bottom: 120px;
}
.latest-items .list-item-slider .item{
    position:relative ;
    cursor: pointer;
}
.latest-items .list-item-slider .item .overlay-item{
    position: absolute;
    top:5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    border: solid 1px #F77790;
    z-index: 11;
    transition: .8s ease;
    opacity: 0;
}
.latest-items .list-item-slider .item {
    overflow: hidden;
}
.latest-items .list-item-slider .item .overlay-item i{
    color: #F77790;
    font-size: 100px;
}
.latest-items .list-item-slider .item:hover .overlay-item{
    opacity: 1;
    animation: .5s zoomIn;
}
.latest-items .list-item-slider .item .product-img{
    overflow: hidden;
    position: relative;
}
.latest-items .list-item-slider .item img{
    height: 100%;
    width: 100%;
}
.latest-items .list-item-slider .item:hover img{
    transform: scale(1.1);
}
.latest-items .list-item-slider .item .product-detail{
    padding: 20px 15px;
    background-color: #f9f9f9;
    display: inline-block;
    transition: .8s ease;
}
.latest-items .list-item-slider .item:hover .product-detail{
    background-color: #F77790;
}
.latest-items .list-item-slider .item .product-detail .heading{
    font-size: 20px;
    font-family: Oswald , sans-serif;
    width: 90%;
    display: inline-block;
    float: left;
    /*transition: .8s ease;*/
}
.latest-items .list-item-slider .item:hover .product-detail .heading{
    color: #FFFFFF;
}
.latest-items .list-item-slider .item .product-detail .text-des{
    font-size: 15px;
    font-family: Roboto, sans-serif;
    display: block;
    width: 90%;
    margin-bottom: 10px;
    /*transition: .8s ease;*/
}
.latest-items .list-item-slider .item:hover .product-detail .text-des{
    color: #FFFFFF;
}
.latest-items .list-item-slider .item .product-detail .watch-product{
    width: 10%;
    display: inline-block;
    float: right;
}
.latest-items .list-item-slider .item .product-detail .watch-product i{
    font-size: 20px;
}
.latest-items .list-item-slider .item:hover .product-detail .watch-product i{
    color: #FFFFFF;
}

/* ===================================
       portfolio  section css
====================================== */

.portfolio-sec{
    padding-top: 120px;
    background-color: #f9f9f9;
    padding-bottom: 120px;
}
.portfolio-heading .heading-details{
    margin-bottom: 50px;
}
.portfolio-sec .cbp-l-filters-alignCenter {
    margin-bottom: 10px;
}
.portfolio-sec .cbp-l-filters-alignCenter .cbp-filter-item{
    background-color: transparent;
    /*border: 1px solid #d9d9d9;*/
    padding: 7px 0;
    margin-right: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    opacity: .8;
}
.portfolio-sec .cbp-l-filters-alignCenter .cbp-filter-item:after{
    content: "/";
    margin-left: 7px;
}
.portfolio-sec .cbp-l-filters-alignCenter .cbp-filter-item:last-child:after{
    display: none;
}
.portfolio-sec .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
    color: #F77790;
}
.portfolio-sec  .cbp-l-filters-alignCenter .cbp-filter-item:hover .cbp-filter-counter {
    -webkit-transform: translateY(-41px);
    -ms-transform: translateY(-41px);
    transform: translateY(-41px);
    background-color: #F77790;
    color: #FFFFFF;
}
.portfolio-sec  .cbp-l-filters-alignCenter .cbp-filter-counter:after {
    border-top: 4px solid #F77790;
}
.portfolio-sec .cbp-l-loadMore-text .cbp-l-loadMore-link, .cbp-l-loadMore-text .cbp-l-loadMore-text-link {
    font: 400 15px "Open Sans", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    display: inline-block;
    border: solid 1px #F77790;
    padding: 8px 30px;
    color: #F77790;
}
.portfolio-sec .cbp-caption-zoom .cbp-caption-activeWrap {

    color: #FFFFFF;
}
.cbp-caption-zoom .cbp-caption:hover .cbp-caption-activeWrap {
    background-color: rgba(255, 191, 0, 0.8);
}
.portfolio-sec .cbp-l-caption-desc .fly-line{
    background-color: #FFFFFF;
    margin-top: 7px;
}
.portfolio-sec .cbp-l-caption-title {
    color: #fff;
    font: 400 20px/21px 'Roboto', sans-serif;
}
/* ===================================
        Our Cast sec css
====================================== */
.our-cast{
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-cast .cast-card{}
.our-cast .cast-card .cast-img{
    height: 250px;
    overflow: hidden;
}
.our-cast .cast-card .cast-img img{
    height: 100%;
    width: 100%;
    transition: .3s ease;
}
.our-cast .cast-card .cast-detail{
    padding: 10px 20px;
    height: 250px;
    background-color: #f9f9f9;
    position: relative;
}
.our-cast .cast-card .cast-detail .cast-content{
    position: relative;
    z-index: 1;
}
.our-cast .cast-card .cast-detail .cast-name{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald',sans-serif;
    margin-bottom:5px;
    transition: .3s ease;
    text-transform: uppercase;
}
.our-cast .cast-card .cast-detail .cast-designation{
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #F77790;
    margin-bottom: 15px;
    display: block;
    transition: .3s ease;
}
.our-cast .cast-card .cast-detail .cast-des{
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #000000;
    margin-bottom: 15px;
    transition: .3s ease;
}
.our-cast .cast-card .cast-detail .cast-social{
    margin-bottom: 0;
}
.our-cast .cast-card .cast-detail .cast-social li{
    list-style: none;
    display: inline-block;
}
.our-cast .cast-card .cast-detail .cast-social li a{}
.our-cast .cast-card .cast-detail .cast-social li a i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    border: solid .5px #000;
    opacity: .8;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.our-cast .cast-card .cast-detail .cast-social li a i:hover{
    background-color: #F77790;
    border: solid .5px #F77790;
    color: #FFFFFF;
}
.our-cast .testimonial-cast .item .cast-card .cast-detail .overlay-cast{
    position: absolute;
    background-color: #F77790;
    top:0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: .3s ease;
}
.our-cast .testimonial-cast .item:nth-child(even) .cast-card .cast-detail .overlay-cast{
    top: 100%;
    bottom: auto;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-detail .overlay-cast{
    bottom: 0;
}
.our-cast .testimonial-cast .item:nth-child(even):hover .cast-card .cast-detail .overlay-cast{
    top: 0;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-detail .cast-designation{
    color: #FFFFFF;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-detail .cast-name{
    color: #FFFFFF;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-detail .cast-des{
    color: #FFFFFF;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-detail .cast-social li a i{
    border: solid .5px #fff;
    color: #FFFFFF;
}
.our-cast .testimonial-cast .item:hover .cast-card .cast-img img{
   transform: scale(1.1);
}
/* ===================================
        testimonial sec
====================================== */
.testimonial-sec{
    padding-bottom: 120px;
    min-height: 300px;
}
.testimonial-sec .reviews{
    font-family: 'Roboto', sans-serif;
}
.testimonial-sec .review-box{
    padding-left: 50px;
    padding-right: 50px;
}
.testimonial-sec .review-box .prev-review-btn{
    transform: rotate(90deg);
    left: -15px;
    top:40%;
}
.testimonial-sec .review-box .next-review-btn{
    transform: rotate(-90deg);
    right: -15px;
    top:40%;
}
.testimonial-sec .review-box .prev-review-btn:hover,.testimonial-sec .review-box .next-review-btn:hover{
    opacity: 1;
    color: #F77790;
    cursor: pointer;
}
.testimonial-sec .review-box .navigate-btn{
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    opacity: .7;
    transition: .8s ease;
}
.testimonial-sec .review-box .navigate-btn i{
    color: #FFFFFF;
}
.testimonial-sec .review-box .navigate-btn span{
    display: inline-block;
    height: 2px;
    width: 20px;
    background-color: #FFFFFF;
    opacity: .7;
    margin-bottom: 5px;
    margin-right: 5px;
}
.testimonial-sec .reviews .review-body{
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 15px;
    padding-bottom: 80px;
}
.testimonial-sec .reviews .user-comment{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.testimonial-sec .reviews .comment-date{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 300;
}
.testimonial-sec .reviews .user-img{
    height: 100px;
    width: 100px;
    border: solid 2px #FFFFFF;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 15px #918f8f;
}
.testimonial-sec .reviews .user-name{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 3px;
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
.testimonial-sec .reviews .user-designation{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .7;
}
.testimonial-sec .reviews .review-stars{
    margin-bottom: 0;
}
.testimonial-sec .reviews .review-stars li{
    display: inline-block;
}
.testimonial-sec .reviews .review-stars li i{
    color: #F77790;
    font-size: 18px;
}
/* ===================================
      brand  css
====================================== */
.brand-sec{
    padding-top: 120px;
}
.brand-sec .sponser-tags{
    padding-bottom: 120px;
    border-bottom: dashed 2px #e1e1e1;
}
.brand-sec .brand-img img{
    cursor: pointer;
    width: 60%;
}

/* ===================================
     Our Blog  css
====================================== */

.news_item {
    background: #fff;
}

.news_item.shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-equal {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.news_desc p{
    margin-bottom: 0;
}
#our-blog .news_desc p{
    margin-bottom: 35px;
}
#our-blog .news_item{
    margin-bottom: 20px;
}
.news_item .news_desc {
    padding: 40px 30px;
}

#our-blog .cbp-item:hover img {
    transform: scale(1.15);
}

.news_item:hover .image img {
    transform: scale(1.1);
}
#our-blog .news_item:hover .blog-multi-img .owl-item.active img{
    transform: scale(1.1);
}

.meta-tags>li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.meta-tags li a {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: 600;
}

.meta-tags li a>i {
    font-size: 17px;
    margin-right: 5px;
}


.news_item h3{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
}
.news-item p{
    font-size: 15px;
    color: #000000;
    opacity: .8;
}
.news_item:hover h3{
    color: #F77790;
}
.news_item:hover h3 a:hover{
    color: #F77790;
}
.meta-tags li a:hover,
.meta-tags li a:focus,
.commment li a:hover,
.commment li a:focus {
    color: #F77790;
}
.news_item .blog-img{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.owl-blog-item .owl-nav {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#our-blog .owl-blog-item .owl-nav .owl-next,#our-blog .owl-blog-item .owl-nav .owl-prev {
    font-size: 18px;
    margin: 5px;
    padding: 3px 15px !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: unset;
    display: inline-flex;
    justify-content: center;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}


#our-blog .owl-blog-item .owl-nav .owl-next:hover, #our-blog .owl-blog-item .owl-nav .owl-prev:hover {
    background: #F77790 !important;
    border: 2px solid #F77790 !important;
}
.play-hvr {
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: 0.3s all;
}

.play-icon {
    position: relative;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    background: #F77790;
    padding-left: 4px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.play-hvr:hover .play-icon {
    color: #F77790;
    background: #fff;
    border-color: #F77790;
}

/* ===================================
       Contact Us
====================================== */
.contact-sec .contact-details{
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-sec .contact-form-box{
    box-shadow: 1px 1px 15px #f1f1f0cf;
    border-radius: 10px;
    padding: 30px;
    max-width: 95%;
    background-color: rgb(255,255,255,0.2);
}
.contact-sec .contact-details .contact-heading{
    color: #000000;
    font-size: 40px;
    font-family: 'oswald',sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-sec .contact-details .contact-address{
    font-size: 16px;
    color: #000000;
    opacity: .8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-sec .contact-details .contact-list{
    padding-left: 0;
}
.contact-sec .contact-details .contact-list li{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    list-style: none;
    color: #000000;
    font-size: 16px;
    opacity: .8;
}
.contact-sec .contact-details .contact-list li:nth-child(even){
    margin-bottom: 20px;
}
.contact-sec .contact-details .contact-list li:last-child{
    margin-bottom: 50px;
}
.contact-sec .contact-details .contact-s-media{
    padding-left: 0;
    margin-bottom: 0;
    right: auto;
    left: -10px;
}
.contact-sec .contact-details .contact-s-media li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}
.contact-sec .contact-details .contact-s-media li:last-child {
    margin-right: 0;
}
.contact-sec .contact-details .contact-s-media li a{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 2px;
    transition: .8s ease;
}
.contact-sec .contact-details .contact-s-media li:hover a{
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #F77790;
}

.contact-sec .contact-details .contact-s-media li a i{
    font-size: 18px;
    color: #000000;
}
.contact-sec .contact-details .contact-s-media li:hover a i{
    color: #000000;
}
.contact-sec .contact-details .page-footer{
    left: calc(50% - 125px);
}
.contact-sec{
padding-bottom: 30px;
padding-top: 20px;
}
.contact-form {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.contact-form .form-control {
    border: none;
    border-bottom:1px solid #e2e2e2;
    padding: 12px 0;
    background: #fff;
    letter-spacing: .7px;
    font-weight: 300;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 44px;
    color: #a5a5a5;
    font-size: 14px;
    position: relative;
    -webkit-transition: border .9s ease;
    -o-transition: border .9s ease;
    transition: border .9s ease;
}

.contact-form textarea {
    min-height: 175px;
    resize: none;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}


#client-nav button:hover > span{
    color: #fff;
}

/* ===================================
   Partner
====================================== */


.partners-slider{
    margin: 4rem 0;
}

.partners-slider .logo-item{
    text-align: center;
}

.partners-slider .logo-item img{
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}
/* ===================================
        map sec
====================================== */
.google-map{
    min-height: 400px;
    border: solid 15px #f9f9f9;
}
/* ===================================
   Footer
====================================== */

.footer-style-1{
    padding: 1rem 0;
    background-color: #000000!important;
    color:white;

}

.footer-text{
    font-size: 11px;
}

.footer-social ul{
    margin: 0;
    padding: 0;

}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 25px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    color:white;
    font-size: 25px;
}


.footer-social li:nth-last-child(1) a{
    margin-right: 0;
}

.footer-social li a:hover{
    background-color:#F77790;
    color: #ffffff;
}

.company-about{
    font-size: 14px;
}


/* ===================================
   Scroll Top
====================================== */

.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #F77790;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #F77790; }



/* ===================================
    Background images
====================================== */

[class*=bg-img]{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* ===================================
        Preloader
   ====================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    z-index: 999;
}

.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    position: relative;
}
.full-width {
    max-width: 100%;
    width: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.preloader .spinner {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F77790;
    opacity: 1;
    -webkit-animation: loader-bounce 2s infinite ease-in-out;
    animation: loader-bounce 2s infinite ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.preloader .spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    opacity: 0.1;
}

@-webkit-keyframes loader-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }

}

@keyframes loader-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

}

/* ===================================
   Other Page
====================================== */
/***********************************/
/********standalone page css********/
/***********************************/
.slider-sec {
    min-height:500px;
    position: relative;
}

.slider-sec-post-cattegory {
    min-height:350px!important;
   
}
.slider-sec .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 32, 34, 0.10);
}
.slider-sec .overlay h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #FFFFFF;
    margin-top: 40%;
    margin-bottom: 10px;
}
.crumbs{
    position: relative;
}
.crumbs .breadcrumb-items{
    display: inline-block;
}
.crumbs .breadcrumb{
    margin-bottom: 0;
    border-radius: 0;
    padding: 15px 50px;
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #FFFFFF;
}
.crumbs .breadcrumb li a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.crumbs .breadcrumb li a:hover{
    color: #F77790;
}
/*crumbs end*/

.standalone-row:not(:last-child) {
    margin-bottom: 3rem;
}
.standalone-row .stand-img-des{
    padding-left: 30px;
    text-align: center;
}
.standalone-row:nth-child(2) .stand-img-des{
    padding-left: 0;
    padding-right: 30px;
}
.standalone-detail .sub-heading{
    color: #F77790;
    margin-bottom: 20px;
}
.standalone-area .sub-heading{
    color: #F77790;
    margin-bottom: 8px;
}
.standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    font-family: Roboto , sans-serif;
}

.standalone-detail .para_text{
    color: #000000;
    font-weight: 500;
    font-family: Roboto , sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    opacity: .8;
    line-height: 2.1;
}

.standalone-area{
    padding-bottom: 120px;
}
.standalone-detail{
    padding-bottom: 100px;
}
.standalone-area .gradient-text1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}
.standalone-area .stand-img-des .para_text{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 300;
    opacity: .8;
}


/* ===================================
    Media Queries
   ====================================== */


@media screen and (max-width:991px){

    .footer-style-1{    
      text-align: center!important;  
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }

    .standalone-area .sub-heading {
        margin-top: 20px;
    }

    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }

    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .project-sec .project-area .project-detail {
        left:0;
    }
}


@media screen and (max-width:767px){
    .side-menu {
        width: 100%;
    }
    #about .yellow-and-white-slider-btn{
        margin-bottom: 50px;
    }
    .heading-details .heading {
        font-size: 35px;
    }
    .heading-details .heading:before {
        display: block;
        margin-left: auto;
         margin-right:0;
    }
    .heading-details .heading:after {
        display: block;
         margin-left: 0;
        margin-right: auto;
        margin-top: 16px;
    }
    .production-sec .production-box {
        margin-bottom: 25px;
    }
    .our-cast .cast-card .cast-img {
        height: auto;
    }
    .our-cast .cast-card .cast-detail {
        padding: 50px 20px;
        height: auto;
    }
    .our-cast .cast-card .cast-detail .cast-name {
        font-size: 24px;
    }
    .our-cast .cast-card .cast-detail .cast-designation {
        font-size: 14px;
    }
    .latest-items{
        margin-left: 30px;
        margin-right: 30px;
    }
    .testimonial-sec .reviews .review-body {
        padding: 20px;
        padding-bottom: 80px;
    }
    .our-cast .testimonial-cast{
        padding-left: 20px;
        padding-right: 20px;
    }
    #our-blog{
        margin-left: 30px;
        margin-right: 30px;
    }
    .contact-sec .contact-form-box {
        box-shadow:none;
    }
    .heading-details {
        margin-bottom: 50px;
    }
    .contact-sec .contact-details {
        margin-top: 0;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }
    .standalone-area .sub-heading{
        margin-top: 20px;
    }
    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-area {
        /*padding-bottom: 0;*/
    }
    .project-sec .project-area .project-detail {
        left:0;
    }

}